	<html>
		<head>
			<style>
				
				</style>
		</head>
		<body>
			<b>Dear {{user}},</b>
			<h3>Activity </h3>
			<p>The {{activityName}} for the month of {{month}} has been marked as Pending for Discrepancy. You are requested to click on the following link and login to the tool using your credentials. 
			Kindly follow steps as per instructions</p>
		</body>
	</html>