	<html>
		<head>
			<style>
				
				</style>
		</head>
		<body>
			<b>Dear {{user}},</b>
			<h3>Registration successful</h3>
			<p>Please <a href="http://localhost:4200/rest/user/registration/emailvalidation/{{validationCode}}">click here</a> for the completing registration</p>
		</body>
	</html>