	<html>
		<head>
			<style>
				table#pendingActivities{
						border:solid 1px;
					}
				</style>
		</head>
		<body>
			<b>Dear {{user}},</b>
			<h3>Request to reopen activity </h3>
			<p>Following activity has been requested to reopen. You are requested to click on the following link and login to the tool using your credentials. Kindly follow steps as per instructions</p>
			<table id="pendingActivities" border="1" style="border-collapse: collapse;text-align: center;width:100%;">
				<thead>
					<tr>
						<td>Activity name</td><td>Month</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{activityName}}</td><td>{{month}}</td>
					</tr>
				</tbody>
			</table>
			<a href='http://{{serverUrl}}/#/activities?activitySeverity=Pending%20for%20Discrepancy'>click here</a> to see pending for desrcepancy activities
		</body>
	</html>