	<html>
		<head>
			<style>
				
				</style>
		</head>
		<body>
			<b>Dear {{user}},</b>
			<h3>Please complete registration</h3>
			<p>Please <a href="http://jws-app-pundlik.193b.starter-ca-central-1.openshiftapps.com/rest/user/registration/emailvalidation/{{validationCode}}">click here</a> for the completing registration</p>
		</body>
	</html>